<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 05 - Flask</title>
</head>
<body style="background-color: rgb(236, 200, 218);color:rgba(182, 93, 107, 0.795)">
    <h1>MINHA PRIMEIRA PÁGINA HTML NO FLASK</h1>
    <h2>Próximos passos</h2>
    <ul>
        <li>Criar mais rotas</li>
        <li>Criar link entre as paginas</li>
        <li>Criar conteudo estatico. css e imagens</li>
</body>
</html>